<div role="main" class="container topstories" id="content">
  <div class="row" id='review-feed'>
    <%= render @reviews %>
  </div>

  <%= render "reviews/find_store" %>

  <%= render "search/search" %>
</div>
