<div role="main" class="container topstories" id="content">
  <div class="row" id='review-feed'>
    <% 3.times do %>
      <%= render @reviews %>
    <% end %>
  </div>
  <%= render "reviews/new", :locals => {review: @review} %>
    
  <%= render "search/search" %>
</div>
