<div role="main" class="container topstories" id="content">

  <div class="row" id='review-feed'>
    <div class="span12">
      <h2>The Buzz</h2>
    </div>
    <%= render @reviews %>
  </div>
  <br />

  <div class="row">
    <%= render "reviews/find_store" %>

    <div class="span5 well" id="review-store-form">
      <%= render "reviews/new" %>
    </div>

  </div>

  <br />
  <%= render "search/search" %>

</div>
