<div class="row longstory" >
  <h3 class="span12">A Normal Story Headline Goes Here!</h3>
  <div class="span4" >
    <img src="img/rover.jpg" style="width:300px" />
    <div class="well" >
      <a href="#" >Comments (0)</a>
      &bullet;
      <a href="#" >More by this Author</a>
    </div>
  </div>
  <div class="span8" >
    <span class="tagline" >By Author &bullet; 20/12/2012</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales ante laoreet dolor aliquam ut auctor ligula venenatis. Fusce sodales mattis mi, nec iaculis mauris sollicitudin ac. Aenean suscipit mattis diam porta volutpat. Nullam lorem risus, tincidunt ut suscipit ac, commodo eu nunc. Nunc id consequat urna. Pellentesque adipiscing mollis adipiscing. Ut tempus sollicitudin posuere.</p>

    <p>Sed blandit leo at est ultrices laoreet. Aenean venenatis aliquam porta. Mauris ac ornare magna. Curabitur sollicitudin faucibus semper. Proin ultricies accumsan elementum. Nullam suscipit, mi eget posuere dignissim, mi dolor pulvinar neque, vitae cursus est risus fringilla arcu. Praesent condimentum auctor augue quis lobortis. In cursus felis consectetur arcu pharetra sed feugiat arcu accumsan. Aliquam id sapien neque. Nullam a est in diam elementum sollicitudin in eu neque. Aliquam ullamcorper eros nisi, quis tincidunt felis. Quisque ac pellentesque lacus. Praesent quam eros, sollicitudin in commodo in, blandit ultrices est. Fusce aliquam laoreet imperdiet. Donec nulla leo, aliquet id ornare sed, aliquam sed neque.</p>
    <a href="#" class="pull-right btn btn-inverse" >Read More <i class="icon-hand-right" ></i></a>
  </div>
</div>
