<div class="row longstory" >
  <h3 class="span12">Search for a marijuana repository near you!</h3>
  <div class="span4" >
    <img src="" style="width:300px" />
    <div class="well">
<!--       <form>
        <input type="text" name='search-form' id="search-form">
        <input type="submit" id='search-button' value="Search">
      </form> -->
      <!-- <textarea id='search-form'></textarea>
      <button id='search-button'>Search</button> -->

      <%= form_tag stores_path, method: :get do %>
        <%= text_field_tag :search, params[:search], id: "search-form" %>
        <%= submit_tag 'Search', name: nil, id: "search-button" %>
      <% end %>

    </div>
  </div>
    <div id='main-map' class='light'></div>
  <script type='text/javascript'>
    var map = L.mapbox.map('main-map', 'examples.map-20v6611k').setView([39.7391667, -104.984167], 12);
  </script>

  <div id="search-modal"></div>
</div>
