<div class="row" >
  <div class="span4 well" id="longstory">
    <h2>Search Stores & Strains</h2>

    <%= form_tag stores_path, method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search], id: "search-form" %>
      </p>
      <p>
        <%= submit_tag 'Search', name: nil, id: "search-button", class: "btn btn-inverse pull-left" %>
      </p>
    <% end %>
    <br />
    <hr />
    <div id="search-results">
    </div>

  </div>

  <div class="span6">
    <div id='main-map' class='light'></div>
    <script type='text/javascript' id="map-script">
        var map = L.mapbox.map('main-map', 'examples.map-20v6611k').setView([39.7391667, -104.984167], 12);
    </script>
  </div>


</div>
