<div class="row longstory" >
  <h3 class="span12">A Normal Story Headline Goes Here!</h3>
  <div class="span4" >
    <img src="" style="width:300px" />
    <div class="well" >
      <a href="#" >Comments (0)</a>
      &bullet;
        <textarea id='search-form'></textarea>
        <button id='search-button'>Search</button>
      <a href="#" >More by this Author</a>
    </div>
  </div>
  <div class="span8" id='search-results'>
    
  </div>
</div>
