<div class="row longstory" >
  <h3 class="span12">Search for a marijuana repository near you!</h3>
  <div class="span4" >
    <img src="" style="width:300px" />
    <div class="well" > 
      <textarea id='search-form'></textarea>
      <button id='search-button'>Search</button>
    </div>
  </div>
  <div class="span8" id='search-results'>
    
  </div>

  <div id="search-modal"></div>
</div>
