<div id='search-results'>
  <% if @results.nil? %>
    <p>
      There are no results for your search.
    </p>
  <% else %>
    <% @stores.each do |store| %>
      <%= link_to store.name, store_path(store.slug) %>
    <% end %>
  <% end %>
</div>
