---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2383%20S.%20Downing%20Street%20Denver%20CO&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2383",
                       "short_name" : "2383",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South Downing Street",
                       "short_name" : "S Downing St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Rosedale",
                       "short_name" : "Rosedale",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                    [...]
