---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=123%20High%20St%20Denver%20CO&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "123",
                       "short_name" : "123",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "High Street",
                       "short_name" : "High St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Country Club",
                       "short_name" : "Country Club",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "lo[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1%20Broadway%20Suite%20A-150%20Denver%20CO&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
            [...]
