<!DOCTYPE html>
<html>
<head>
  <title>Leafly</title>
  <%= stylesheet_link_tag    "leafly/application", media: "all" %>
  <%= javascript_include_tag "leafly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
