$(function() {
  var availableTags, storeName, storeAddress, storeCity, storeState,
      storeZipcode, storeHours, storeWebsite, storePhoneNumber;

  availableTags = <%= Store.all.collect {|n| n.name} %>;

  $("#store_name").autocomplete({
    source: availableTags
  });

  $("#find-store-form").submit(function(e) {
    e.preventDefault();
    storeName = $("#store_name").val();
    $('#review-store-form h3').html("Review " + storeName);

    if (storeName !== "") {
      var queryData = { query: storeName };
      getStoreInfo(queryData);
    }
    $('#review_store_name').val(storeName);
    return false;
  });

  var getStoreInfo = function(queryData) {
    $.ajax({
      url: '/api/v1/stores/' + slugify(storeName),
      type: 'GET',
      dataType: 'json',
      data: queryData,
      success: function(response) {
        storeAddress = response.address;
        storeCity    = response.city;
        storeState   = response.state;
        storeZipcode = response.zipcode;
        storeHours   = response.hours;
        storeWebsite = response.website;
        storePhoneNumber = response.phone_number;
        $('#review-store-info h3').html(storeName + " - Store Info");
        $('#store-address').html(storeAddress + ", " + storeCity + ", " +
          storeState + ", " + storeZipcode);
        $('#store-hours').html(storeHours);
        $('#store-website').html("<a href='" + storeWebsite + "'>" + storeWebsite + "</a>");
        $('#store-phone-number').html(storePhoneNumber);
        $('#review-store-info').css('display', 'inline');
        $('#review-store-form').css('display', 'inline');
      }
    });
  }

  var slugify = function(name) {
    return name.toLowerCase()
    .replace(/ /g,'-')
    .replace(/[^\w-]+/g,'');
  }

  if (window.location.hash && window.location.hash == '#_=_') {
    window.location.hash = '';
  }

})();


