#main-map {
  width:567px;
  height:400px;
  border: 1px solid #C9D1D3;
}

#single-store-map {
  width:300px;
  height:293px;
  margin-left:3px;
  border: 1px solid #C9D1D3;
}

#strain-map {
  width:567px;
  height:400px;
  border: 1px solid #C9D1D3;
}
