
        <%= f.submit 'Review Store', {:class => "btn btn-inverse btn-lg", :id => 'review-modal-button', 'data-toggle' => "modal", 'data-target' => '#myModal'} %>


  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Viewing Store</h4>
        </div>
        <div class="modal-body">
          <p> "Hello World"</p>
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
