<div class="row" >
  <div class="span12 categories" >
    <a href="#" >Joints</a>
    &bullet;
    <a href="#" >Bowls</a>
    &bullet;
    <a href="#" >Bongs</a>
    &bullet;
    <a href="#" >Hackey Sacks</a>
  </div>
</div>
