<div class="span4" >
  <div class="story" >
    <h3>Sticky Nugs</h3>
    <img src="img/rover.jpg" />
    <p>
      Newspaper is a classic-looking magazine style layout. Perfect for blogs, news outlets or even social sites.
    </p>
    <p>
      It includes a layout for headline stories. A succint navigation and a fresh, clean red/white/black colour scheme.
    </p>
    <a href="#" class="btn btn-inverse pull-right" >Read More <i class="icon-hand-right" ></i></a>
  </div>
</div>
