<div class="span4" >
  <div class="story" >
    <h3><%= review.title %></h3>
    <h4></h4>
    <img src="http://www.placekitten.com/290/290" />
    <p>
      <%= review.body %>
    </p>
    <p>
      <%= review.rating %>
    </p>
    <%= link_to 'Store Details', store_path(review.store), class: "btn btn-inverse pull-left" %>
  </div>
</div>





