<div class="span4" >
  <div class="story" >
    <h3><%= review.title %></h3>
    <h4></h4>
    <img src="http://www.placekitten.com/290/290" />
    <p>
      <%= review.body %>
    </p>
    <p>
      <%= review.rating %>
    </p>
    <a href="#" class="btn btn-inverse pull-right" >Store Details <i class="icon-hand-right" ></i></a>
  </div>
</div>
