<% cache strain do %>
  <div class="span3 menu-icon">
    <div class="strain-icon-container">
      <%= link_to image_tag("pot-icon-#{rand(4) + 1}.jpg", size: "70x70"), strain_show_path(strain.key), class:'strain-icon' %>
    </div>
    <div class="strain-title">
      <h4 class=><%= link_to strain.name, strain_show_path(strain.key) %></h4>
        <p>Type: <%= strain.category %><br/>
           Rating: <%= strain.rating %></p>
    </div>
  </div>
<% end %>
