<footer>
  <div class="row" id="footer-list-container">
    <div class="span12">
      <ul class="list-inline">
        <li><a href="#">Home</a></li>
        <li class="footer-menu-divider">&sdot;</li>
        <li><a href="https://github.com/fluxusfrequency/milehigh">Github</a></li>
        <li class="footer-menu-divider">&sdot;</li>
        <li><a href="http://tutorials.jumpstartlab.com/projects/feed_engine/feed_engine.html">Project Spec</a></li>
        <li class="footer-menu-divider">&sdot;</li>
        <li><a href="http://jumpstartlab.com/">Jumpstart Lab</a></li>
      </ul>
      <hr>
      <p class="copyright text-muted small">A gSchool demonstration application by Darryl Pequeen, Bryana Knight, Ben Horne, and Ben Lewis.</p>
    </div>
  </div>
</footer>