<header class="container">
  <span class="menu" >
    <% if current_user %>
      <%= image_tag current_user.avatar %>
      <%= current_user.name %>
      <%= link_to "Sign out", '/signout', id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </span>
  <h1>Mile High</h1>
  <span class="tagline" >
    Weed... It's green, sticky and <s>illegal</s> legal in Colorado!
  </span>
</header>
