<!DOCTYPE html>
<html>
<head>
  <title>Milehigh</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="seedfinderverification" content="Open Sesame!" />
</head>
<body>

<%= yield %>

</body>
</html>
